apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: unikorn-identity-controller
  labels:
    {{- include "unikorn.labels" . | nindent 4 }}
rules:
# Orchestrate Unikorn resources (my job).
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - identities
  verbs:
  - list
  - watch
  - patch
  - update
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - identities/status
  verbs:
  - update
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - openstackidentities
  verbs:
  - list
  - watch
  - create
  - update
  - delete
# Cascading deletion.
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - quotas
  - networks
  - securitygroups
  - servers
  verbs:
  - list
  - watch
  - delete
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - list
  - watch
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - regions
  verbs:
  - list
  - watch
