/bin
/sboms
/.devstack
/charts/region/Chart.lock
/charts/region/charts
*.swp
cover.out
cover.html
go.work.sum
go.work
test/.env
test/.env.install
test/.env.openstack
test/.env.provider
test/ca-bundle.pem
junit.xml
test-results.json
hack/ci/ca-bundle.pem
