apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-server
  labels:
    {{- include "unikorn.labels" . | nindent 4 }}
rules:
# Orchestrate Unikorn resources (my job).
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - regions
  - filestorageclasses
  - filestorageprovisioners
  verbs:
  - list
  - watch
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - identities
  - networks
  - quotas
  - securitygroups
  - securitygrouprules
  - servers
  - filestorages
  verbs:
  - list
  - watch
  - create
  - delete
  - patch
  - update
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - servers/status
  verbs:
  - patch
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - openstackidentities
  - openstacknetworks
  - openstacksecuritygroups
  - openstacksecuritygrouprules
  - openstackservers
  verbs:
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  - configmaps
  verbs:
  - list
  - watch
