apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-server
  labels:
    {{- include "unikorn.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-server
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-server
    spec:
      containers:
      - name: {{ .Release.Name }}-server
        image: {{ include "unikorn.serverImage" . }}
        args:
        {{- include "unikorn.core.flags" . | nindent 8 }}
        {{- include "unikorn.cors.flags" . | nindent 8 }}
        {{- include "unikorn.otlp.flags" . | nindent 8 }}
        {{- include "unikorn.mtls.flags" . | nindent 8 }}
        {{- include "unikorn.identity.flags" . | nindent 8 }}
        {{- range $i, $arg := .Values.server.extraFlags }}
        - {{ $arg }}
        {{- end }}
        ports:
        - name: http
          containerPort: 6080
        - name: prometheus
          containerPort: 8080
        - name: pprof
          containerPort: 6060
        resources:
          {{- .Values.server.resources | toYaml | nindent 10 }}
        readinessProbe:
          # This should be large enough to preheat caches.
          initialDelaySeconds: 10
          httpGet:
            path: /.well-known/openid-protected-resource
            port: 6080
        securityContext:
          readOnlyRootFilesystem: true
      serviceAccountName: {{ .Release.Name }}-server
      securityContext:
        runAsNonRoot: true
