apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: image-upload-staging
spec:
  accessModes:
  {{- if .Values.server.staging.allowReadWriteOnce }}
    - ReadWriteOnce
  {{ else }}
    - ReadWriteMany # This may affect rollouts if it can't be mounted into a new pod
  {{ end }}
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.server.staging.size }}
  {{- with .Values.server.staging.storageClass }}
  storageClassName: {{ . }}
  {{- end }}
