{{- range $region := .Values.regions }}
---
apiVersion: region.unikorn-cloud.org/v1alpha1
kind: Region
metadata:
  name: {{ include "resource.id" $region.name }}
  labels:
    unikorn-cloud.org/name: {{ $region.name }}
    {{- include "unikorn.labels" $ | nindent 4 }}
spec:
  {{- with $security := $region.security }}
  security:
    {{- with $organizationIDs := $security.organizationIDs }}
    organizations:
      {{- range $organizationIDs }}
      - id: {{ . }}
      {{- end }}
    {{- end }}
  {{- end }}
  provider: {{ $region.provider }}
  {{- with $kubernetes := $region.kubernetes }}
  kubernetes:
    kubeConfigSecret:
      {{- if $kubernetes.kubeConfigSecret.namespace }}
      namespace: {{ $kubernetes.kubeConfigSecret.namespace }}
      {{- else }}
      namespace: {{ $.Release.Namespace }}
      {{- end }}
      name: {{ $kubernetes.kubeConfigSecret.name }}
    {{- with $domainName := $kubernetes.domainName }}
    domainName: {{ $domainName }}
    {{- end }}
    {{- with $nodes := $kubernetes.nodes }}
    nodes:
      {{- toYaml $nodes | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- with $openstack := $region.openstack }}
  openstack:
    endpoint: {{ $openstack.endpoint }}
    serviceAccountSecret:
      {{- if $openstack.serviceAccountSecret.namespace }}
      namespace: {{ $openstack.serviceAccountSecret.namespace }}
      {{- else }}
      namespace: {{ $.Release.Namespace }}
      {{- end }}
      name: {{ $openstack.serviceAccountSecret.name }}
    {{- with $identity := $openstack.identity }}
      {{ printf "identity:" | nindent 4 }}
      {{- toYaml $identity | nindent 6 }}
    {{- end }}
    {{- with $compute := $openstack.compute -}}
      {{ printf "compute:" | nindent 4 }}
      {{- toYaml $compute | nindent 6 }}
    {{- end }}
    {{- with $image := $openstack.image -}}
      {{ printf "image:" | nindent 4 }}
      {{- toYaml $image | nindent 6 }}
    {{- end }}
    {{- with $network := $openstack.network -}}
      {{ printf "network:" | nindent 4 }}
      {{- toYaml $network | nindent 6 }}
    {{- end }}
  {{- end }}
{{- end }}
