apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: unikorn-region
  labels:
    {{- include "unikorn.labels" . | nindent 4 }}
rules:
# Orchestrate Unikorn resources (my job).
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - regions
  verbs:
  - list
  - watch
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - identities
  - physicalnetworks
  - quotas
  - securitygroups
  - securitygrouprules
  - servers
  verbs:
  - list
  - watch
  - create
  - delete
  - patch
  - update
- apiGroups:
  - region.unikorn-cloud.org
  resources:
  - openstackidentities
  - openstackphysicalnetworks
  - openstacksecuritygroups
  - openstacksecuritygrouprules
  verbs:
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - list
  - watch
