---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: servers.region.unikorn-cloud.org
spec:
  group: region.unikorn-cloud.org
  names:
    categories:
    - unikorn
    kind: Server
    listKind: ServerList
    plural: servers
    singular: server
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Available")].reason
      name: status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: age
      type: date
    - jsonPath: .status.privateIP
      name: privateIP
      type: string
    - jsonPath: .status.publicIP
      name: publicIP
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Server defines a server beloning to an identity.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              flavorID:
                description: FlavorID is the flavor ID.
                type: string
              image:
                description: Image defines a set of rules to lookup for the server
                  image.
                properties:
                  id:
                    description: ID is the image ID. If specified, it has priority
                      over the selector.
                    type: string
                required:
                - id
                type: object
              networks:
                description: Networks is the server network configuration.
                items:
                  properties:
                    allowedAddressPairs:
                      description: AllowedAddressPairs is a list of allowed address
                        pairs for the network interface. This will allow multiple
                        MAC/IP address (range) pairs to pass through this port.
                      items:
                        properties:
                          cidr:
                            description: CIDR is the CIDR block to allow traffic from.
                            pattern: ^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\/(?:3[0-2]|[1-2]?[0-9])$
                            type: string
                          macAddress:
                            description: Optional MAC address to allow traffic to/from.
                            type: string
                        required:
                        - cidr
                        type: object
                      type: array
                    id:
                      description: ID is the physical network ID.
                      type: string
                  required:
                  - id
                  type: object
                type: array
              pause:
                description: Pause, if true, will inhibit reconciliation.
                type: boolean
              provider:
                description: Provider defines the provider type.
                enum:
                - openstack
                - kubernetes
                type: string
              publicIPAllocation:
                description: PublicIPAllocation is the server public IP allocation
                  configuration.
                properties:
                  enabled:
                    description: Enabled is a flag to enable public IP allocation.
                    type: boolean
                type: object
              securityGroups:
                description: SecurityGroups is the server security groups.
                items:
                  properties:
                    id:
                      description: ID is the security group ID.
                      type: string
                  required:
                  - id
                  type: object
                type: array
              tags:
                description: |-
                  Tags are an abitrary list of key/value pairs that a client
                  may populate to store metadata for the resource.
                items:
                  description: Tag is an arbirary key/value.
                  properties:
                    name:
                      description: Name of the tag.
                      type: string
                    value:
                      description: Value of the tag.
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
              userData:
                description: UserData contains configuration information or scripts
                  to use upon launch.
                format: byte
                type: string
            required:
            - flavorID
            - image
            - provider
            type: object
          status:
            properties:
              conditions:
                description: Current service state of a cluster manager.
                items:
                  description: |-
                    Condition is a generic condition type for use across all resource types.
                    It's generic so that the underlying controller-manager functionality can
                    be shared across all resources.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      enum:
                      - Provisioning
                      - Provisioned
                      - Cancelled
                      - Errored
                      - Deprovisioning
                      - Deprovisioned
                      type: string
                    status:
                      description: |-
                        Status is the status of the condition.
                        Can be True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      enum:
                      - Available
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              privateIP:
                description: PrivateIP is the private IP address of the server.
                type: string
              publicIP:
                description: PublicIP is the public IP address of the server.
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
