---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.3
  name: openstackservers.region.unikorn-cloud.org
spec:
  group: region.unikorn-cloud.org
  names:
    categories:
    - unikorn
    kind: OpenstackServer
    listKind: OpenstackServerList
    plural: openstackservers
    singular: openstackserver
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OpenstackServer has no controller, its a database record of state.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              portIDs:
                description: PortIDs is a list of port IDs.
                items:
                  type: string
                type: array
              publicIPAllocationId:
                description: PublicIPAllocationId is the public ip allocation id.
                type: string
              serverID:
                description: ServerID is the server ID.
                type: string
            type: object
          status:
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
