---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.3
  name: filestoragelists.region.unikorn-cloud.org
spec:
  group: region.unikorn-cloud.org
  names:
    kind: FileStorageList
    listKind: FileStorageListList
    plural: filestoragelists
    singular: filestoragelist
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          items:
            items:
              properties:
                apiVersion:
                  description: |-
                    APIVersion defines the versioned schema of this representation of an object.
                    Servers should convert recognized schemas to the latest internal value, and
                    may reject unrecognized values.
                    More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
                  type: string
                kind:
                  description: |-
                    Kind is a string value representing the REST resource this object represents.
                    Servers may infer this from the endpoint the client submits requests to.
                    Cannot be updated.
                    In CamelCase.
                    More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                  type: string
                metadata:
                  type: object
                spec:
                  properties:
                    attachments:
                      items:
                        properties:
                          networkID:
                            type: string
                        required:
                        - networkID
                        type: object
                      type: array
                    nfs:
                      properties:
                        rootSquash:
                          type: boolean
                      type: object
                    pause:
                      description: Pause, if true, will inhibit reconciliation.
                      type: boolean
                    regionID:
                      type: string
                    size:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    storageClass:
                      description: Name of the FileStorageClass
                      type: string
                  required:
                  - regionID
                  - size
                  - storageClass
                  type: object
                status:
                  properties:
                    conditions:
                      items:
                        description: |-
                          Condition is a generic condition type for use across all resource types.
                          It's generic so that the underlying controller-manager functionality can
                          be shared across all resources.
                        properties:
                          lastTransitionTime:
                            description: Last time the condition transitioned from
                              one status to another.
                            format: date-time
                            type: string
                          message:
                            description: Human-readable message indicating details
                              about last transition.
                            type: string
                          reason:
                            description: Unique, one-word, CamelCase reason for the
                              condition's last transition.
                            enum:
                            - Provisioning
                            - Provisioned
                            - Cancelled
                            - Errored
                            - Deprovisioning
                            - Deprovisioned
                            - Unknown
                            - Healthy
                            - Degraded
                            type: string
                          status:
                            description: |-
                              Status is the status of the condition.
                              Can be True, False, Unknown.
                            type: string
                          type:
                            description: Type is the type of the condition.
                            enum:
                            - Available
                            - Healthy
                            type: string
                        required:
                        - lastTransitionTime
                        - message
                        - reason
                        - status
                        - type
                        type: object
                      type: array
                  type: object
              required:
              - spec
              - status
              type: object
            type: array
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
        required:
        - items
        type: object
    served: true
    storage: true
