---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.3
  name: filestorageclasses.region.unikorn-cloud.org
spec:
  group: region.unikorn-cloud.org
  names:
    categories:
    - unikorn
    kind: FileStorageClass
    listKind: FileStorageClassList
    plural: filestorageclasses
    singular: filestorageclass
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.protocols
      name: protocols
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: FileStorageClass defines the storage protocols, optional QoS
          guarantees and the service provider.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: FileStorageClassSpec defines the FileStorageClass.
            properties:
              parallelism:
                default: 4
                description: |-
                  Parallelism defines the number of IP addresses that are assigned to the storage.
                  More IP addresses, better performance.  If the value specified overflows
                  the available address range reserved on the network it will be capped
                  at the maximum allowed value.
                type: integer
              protocols:
                description: Protocols specifies the storage protocols (e.g., NFSv3,
                  NFSv4) supported by this class.
                items:
                  description: Protocol defines which storage protocol to leverage.
                  enum:
                  - nfsv3
                  - nfsv4
                  type: string
                type: array
              provisioner:
                description: Provisioner is the name of the provisioner to use for
                  the file storage class.
                type: string
            required:
            - provisioner
            type: object
          status:
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
