---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.3
  name: networks.region.unikorn-cloud.org
spec:
  group: region.unikorn-cloud.org
  names:
    categories:
    - unikorn
    kind: Network
    listKind: NetworkList
    plural: networks
    singular: network
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Available")].reason
      name: status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Network defines a physical network beloning to an identity.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              dnsNameservers:
                description: DNSNameservers are a set of DNS nameservrs for the network.
                items:
                  pattern: ^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])$
                  type: string
                type: array
              pause:
                description: Pause, if true, will inhibit reconciliation.
                type: boolean
              prefix:
                description: Prefix is the IPv4 address prefix.
                pattern: ^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\/(?:3[0-2]|[1-2]?[0-9])$
                type: string
              provider:
                description: Provider defines the provider type.
                enum:
                - openstack
                - kubernetes
                type: string
              routes:
                description: Routes to be distributed via DHCP.
                items:
                  properties:
                    nextHop:
                      description: NextHop address to forward the traffic to.
                      pattern: ^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])$
                      type: string
                    prefix:
                      description: Prefix to match when forwarding.
                      pattern: ^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\/(?:3[0-2]|[1-2]?[0-9])$
                      type: string
                  required:
                  - nextHop
                  - prefix
                  type: object
                type: array
              tags:
                description: |-
                  Tags are an abitrary list of key/value pairs that a client
                  may populate to store metadata for the resource.
                items:
                  description: Tag is an arbirary key/value.
                  properties:
                    name:
                      description: Name of the tag.
                      type: string
                    value:
                      description: Value of the tag.
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
            required:
            - dnsNameservers
            - prefix
            type: object
          status:
            properties:
              conditions:
                description: Current service state of a cluster manager.
                items:
                  description: |-
                    Condition is a generic condition type for use across all resource types.
                    It's generic so that the underlying controller-manager functionality can
                    be shared across all resources.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      enum:
                      - Provisioning
                      - Provisioned
                      - Cancelled
                      - Errored
                      - Deprovisioning
                      - Deprovisioned
                      - Unknown
                      - Healthy
                      - Degraded
                      type: string
                    status:
                      description: |-
                        Status is the status of the condition.
                        Can be True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      enum:
                      - Available
                      - Healthy
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              openstack:
                properties:
                  networkID:
                    description: NetworkID is the network ID.
                    type: string
                  subnetID:
                    description: SubnetID is the subnet ID.
                    type: string
                  vlanID:
                    description: VlanID is the VLAN ID for this network
                    type: integer
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
